/*Allgemein*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #3d3a35;
  display: flex;
  justify-content: center; /* Zentriert horizontal */
  align-items: center;     /* Zentriert vertikal */
  min-height: 100vh;       /* Volle Höhe für vertikale Zentrierung */
}
h2 {
    text-align: center;

}

.wrapper {
  max-width: 80%;       /* Maximale Breite, damit es nicht zu breit wird */
  margin: 30px auto;       /* Zentriert den Wrapper horizontal und gibt oben und unten Abstand */
  padding: 10px;           /* Innenabstand */
  background-color: #ffffff; /* Heller Hintergrund für Kontrast */
  border: 1px solid #d67c07;  /* Dezenter Rahmen */
  border-radius: 8px;      /* Abgerundete Ecken */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Leichter Schatten für Tiefe */
  overflow-x: auto;        
  font-family: Arial, sans-serif; /* Saubere Schrift */
}


/*LOGIN.PHP*/
.wrapper_login {
  background: rgba(58, 53, 53, 0.7); /* semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  
  
}
.login {
  width:362px ;
  color: #ddd;


}
 .login label{
  display: block;
  margin: 10px ;
  text-align: center;
}
.login input {
  border-radius: 10px;
  border-width: 2px;
  border: 10px;
}
.login div{
  text-align: center;
  margin: 10px;
}
.login div div {
  display: flex;
  gap: 15px;
}
.login a {
  text-decoration: none;
  padding-top: 14px;
  font-size: 12px;
  color: #ddd;
}
.login a:hover {
  color: #db7438;
}

.login button:hover {
  background-color: #db7e48;
  cursor: pointer;
}

.login div div button {
 width: 31%;
 margin-left: 110px;
 background-color: #db7438;
 border-radius: 10px;
 padding: 5px;
 margin-top: 10px;
 
}